experiments/supervised/memoized_features/*
paper/structureScene.aux

paper/structureScene.log

paper/structureScene.synctex.gz

paper/structureScene.synctex(busy)

paper/structureScene.pdf

paper/structureScene.dvi

paper/structureScene.bbl

paper/structureScene.blg

paper/structureScene-blx.bib
paper/structureScene.run.xml

paper/biblio.log

paper/responseToReviewers.aux
paper/responseToReviewers.log
paper/responseToReviewers.pdf
paper/responseToReviewers.synctex.gz
paper/responseToReviewers.synctex.gz

paper/texput.log

*.sw*

*.gz(busy)

*.mat
