experiments/supervised/memoized_features/*
paper/lostanlenRelevanceScattering.aux

paper/lostanlenRelevanceScattering.log

paper/lostanlenRelevanceScattering.synctex.gz

paper/lostanlenRelevanceScattering.synctex(busy)

paper/lostanlenRelevanceScattering.pdf

paper/lostanlenRelevanceScattering.dvi

paper/lostanlenRelevanceScattering.bbl

paper/lostanlenRelevanceScattering.blg

paper/lostanlenRelevanceScattering-blx.bib
paper/lostanlenRelevanceScattering.run.xml

paper/biblio.log

paper/responseToReviewers.aux
paper/responseToReviewers.log
paper/responseToReviewers.pdf
paper/responseToReviewers.synctex.gz
paper/responseToReviewers.synctex.gz

paper/texput.log

*.sw*

*.gz(busy)

*.mat
